---
import {SITE} from "../config";
import Layout from "./Layout.astro";
import {Page, type SocialItem} from "../types";
import FlipImage from "../components/FlipImage.astro";
import frontImage from "../../public/img/avatar.png";

export interface Props {
  frontmatter: {
    name: string;
    title: string;
    description?: string;
    subname?: string;
    avatarFront?: string;
    avatarBack?: string;
    tltr?: string;
    socials: SocialItem[];
  };
}

const {title, avatarFront} = Astro.props.frontmatter;
---

<Layout
  title={`About - ${SITE.title}`}
  author=`${SITE.author}`
  description=`${SITE.desc}`
  activePage={Page.About}
>
  <!-- <Breadcrumbs /> -->
  <main id="main-content">
    <div class="flex flex-col flex-wrap">
      <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
        {
          avatarFront && (
            <div class="hidden ml-auto mb-4 mr-1 rotate-3 sm:block sm:size-40 sm:-mb-20 sm:mr-2">
              <FlipImage front={frontImage.src} back={frontImage.src} alt="avatar" />
            </div>
          )
        }
        <h1 class="text-2xl tracking-wider sm:text-3xl">{title}</h1>
        <slot />
      </section>
    </div>
  </main>
</Layout>
