---
import {SITE} from "../config";
import Layout from "./Layout.astro";
import {Page, type SocialItem} from "../types";

export interface Props {
  frontmatter: {
    name: string;
    title: string;
    description?: string;
    subname?: string;
    avatarFront?: string;
    avatarBack?: string;
    tltr?: string;
    socials: SocialItem[];
  };
}

const {frontmatter} = Astro.props;
---

<Layout
  title={`About - ${SITE.title}`}
  ,
  author=`${SITE.author}`
  description=`${SITE.desc}`
  activePage={Page.About}
>
  <!-- <Breadcrumbs /> -->
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <slot />
    </section>
  </main>
</Layout>
