---
import "../styles/base.css";
import {ViewTransitions} from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {Page} from "../types";

import "../styles/main.css";

interface Props {
  title: string;
  author?: string;
  description?: string;
  activePage?: Page;
}

const {title, author, description, activePage} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="icon" href="/favicon.png" type="image/png" /> -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="canonical" href={canonicalURL} />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />

    <!-- Twitter -->
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={canonicalURL} />

    <ViewTransitions />
  </head>
  <body class="font-sans">
    <main class={`flex flex-col min-h-full text-c px-4 pt-24 pb-4 md:pb-6`}>
      <Header activeNav={activePage} />
      <slot />
      <Footer />
    </main>
  </body>
</html>
