---
import "../styles/base.css";
import {ViewTransitions} from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {Page} from "../types";

import "../styles/main.css";
import {SEO} from "astro-seo";

interface Props {
  title: string;
  author?: string;
  description?: string;
  activePage?: Page;
}

const {title, author, description, activePage} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      twitter={{creator: "@kiidbrian"}}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image:
            "https://drive.google.com/file/d/1gYRqljHKi9MqU643nSDfqdqrdPHTOlNM/view?usp=drive_link",
        },
        image: {
          url: "https://drive.google.com/file/d/1gYRqljHKi9MqU643nSDfqdqrdPHTOlNM/view?usp=drive_link",
        },
      }}
      extend={{
        link: [{rel: "icon", href: "/favicon.ico"}],
        meta: [
          {
            name: "twitter:image",
            content:
              "https://drive.google.com/file/d/1gYRqljHKi9MqU643nSDfqdqrdPHTOlNM/view?usp=drive_link",
          },
          {
            name: "twitter:title",
            content: "Brian Paintsil <The Pragmatic Dev>",
          },
          {name: "twitter:description", content: "Turning ideas into reality"},
        ],
      }}
    />
    <ViewTransitions />
  </head>
  <body class="font-sans">
    <main class={`flex flex-col min-h-full text-c px-4 pt-24 pb-4 md:pb-6`}>
      <Header activeNav={activePage} />
      <slot />
      <Footer />
    </main>
  </body>
</html>
